<header class="header">
  <div class="user">
    <div class="user-photo"></div>
    <div class="user-profile">Hi Mr Poo !!!</div>
  </div>
  <nav class="nav">
    <ul>
      <li><a href="XXXXXXXXXX">Videos</a></li>
      <li><a href="XXXXXXXXXX">Podcast</a></li>
      <li><a href="XXXXXXXXXX">URLs</a></li>
      <li><a href="XXXXXXXXXX">Notas</a></li>
    </ul>
  </nav>
</header> 